@{
    ViewBag.Title = "LiveChat Starter Kit Demo";
}

<h1>LiveChat Starter Kit Demo Project</h1>

<p><a href="http://livechatstarterkit.codeplex.com">LiveChat Starter Kit</a> version 2 is coming soon using 
    <a href="http://signalr.net">SignalR</a> as the communication mechanism.
</p>

<h3>To test it live</h3>

<p>Open the <a href="lcsk/agent.html">agent panel</a> and log in with the following credentials:</p>

<p><strong>agent name</strong> : test<br /><strong>password</strong>: debug</p>

<p>Open another browser and go to <a href="lcsk/chat.html">the visitor chat page.</a></p>

<p>A new request will be displayed on the left side bar of your agent panl. Click on it to start the chat session.</p>

<h2>Video series</h2>

<p>I'm currently doing a video series on the rewrite of v2.0 using SingalR. Here is the video lists:</p>

<ol>
    <li><a href="http://youtu.be/Mmq9yLXVqcU">Pluging SingalR</a></li>
</ol>

<p>Let me know your feedback.</p>

<p>Dominic</p>