@{
    ViewBag.Title = "LiveChat Starter Kit Demo";
}

<h1>LiveChat Starter Kit Demo Project</h1>

<p><a href="http://livechatstarterkit.codeplex.com">LiveChat Starter Kit</a> version 2 is coming soon using 
    <a href="http://signalr.net">SignalR</a> as the communication mechanism.
</p>

<h3>To test it live</h3>

<p>Open the <a href="lcsk/agent.html">agent panel</a> and log in with the following credentials:</p>

<p><strong>agent name</strong> : test<br /><strong>password</strong>: debug</p>

<p>To simulate a chat, open another browser and start typing a question in the chat box on the bottom-right corner.</p>

<p>A new request will be displayed on the left side bar of your agent panl. Click on it to start the chat session.</p>

<p>Once the chat is started, a visitor can browse to another page and keep connected with the same agent.</p>

<p>You can test it out by <a href="/home/switchpage">click here</a>. The agent will be notify of the new page requested.</p>

<h2>Video series</h2>

<p>I'm currently doing a video series on the rewrite of v2.0 using SingalR. Here is the video lists:</p>

<ol>
    <li><a href="http://youtu.be/Mmq9yLXVqcU">Pluging SingalR</a></li>
    <li><a href="http://youtu.be/1KVMXjDS4-M">Agent Panel</a></li>
</ol>

<p>Let me know your feedback.</p>

<p>Dominic</p>