@{
    ViewBag.Title = "LiveChat Starter Kit Demo";
}

<h1>LiveChat Starter Kit Demo Project</h1>

<p><a href="https://github.com/dstpierre/lcsk">LiveChat Starter Kit</a> version 2 uses 
    <a href="http://signalr.net">SignalR</a> as the communication mechanism.
</p>

<h3>To test it live</h3>

<p>To configure passwords and other info visit the <a href="lcsk/install.html">installation / configuration page</a>.</p>

<p>Open the <a href="lcsk/agent.html">agent panel</a> and log in with the following credentials:</p>

<p><strong>agent name</strong> : anything<br /><strong>password</strong>: either the admin or agent password you configured.</p>

<p>To simulate a chat, open another browser and start typing a question in the chat box on the bottom-right corner.</p>

<p>A new request will be displayed on the left side bar of your agent panel. Click on it to start the chat session.</p>

<p>Once the chat is started, a visitor can browse to another page and keep connected with the same agent.</p>

<p>You can test it out by <a href="/home/switchpage">clicking here</a>. The agent will be notify of the new page requested.</p>

<h2>Video - How to add LCSK to your website</h2>

<p>You can watch a quick video showing you how to add LCSK to an existing web app:</p>

<p>
    <a href="http://www.youtube.com/watch?v=DjaO4R1knJE">http://www.youtube.com/watch?v=DjaO4R1knJE</a></p>

<p>Let me know your feedback.</p>

<p><a href="http://www.dominicstpierre.com">Dominic</a> &mdash; <a href="http://twitter.com/dominicstpierre">@@dominicstpierre</a></p>