@{
    ViewBag.Title = "SwitchPage";
}

<h1>Demonstrate a new page requested when on chat.</h1>

<p>The agent is notify that the visitor requested a new page.</p>

<h3>Known bug</h3>

<p>If you return to the home page using / as the path, the cookie of the current conversation does not get updated, and it is 
    like we are not in a conversation.
</p>

<p>If we use /home/index, it's all working fine...</p>

<p><a href="/">Return to the home page (this will not continue the conversation)</a></p>

<p><a href="/home/index">Return to the home page (this will continue the conversation)</a></p>