<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveChatStarterKit.OperatorConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveChatStarterKit.OperatorConsole.Properties.Settings>
            <setting name="OperatorConsole_LiveChatWS_Operator" serializeAs="String">
                <value>http://localhost:1096/LCSKServices/OpServices.asmx</value>
            </setting>
            <setting name="PlaySoundOnChatReq" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySoundOnChatMsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetWebRequestOffline" serializeAs="String">
                <value>False</value>
            </setting>
        </LiveChatStarterKit.OperatorConsole.Properties.Settings>
    </userSettings>
</configuration>