@{
	ViewBag.Title = "Installation completed";
	Layout = "~/Areas/LiveChat/Views/Shared/_Layout.cshtml";
}
<h2>Installation completed</h2>

<p>Congratulation! The LiveChat Starter Kit is installed.</p>

<p>You might want to start the Operator Console and click on "Configure" to set the correct Url for the webservice.</p>

<p>It could look similar to this: http://@Request.Url.Host/LCSKServices/OpServices.asmx</p>

<p>Sign in with the user 'admin' and the password you supply on the last page.</p>

<p>Have a nice day!</p>

<p>Dominic</p>

