<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveChatStarterKit.OperatorConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LiveChatStarterKit.OperatorConsole.Properties.Settings>
            <setting name="OperatorConsole_LiveChatWS_Operator" serializeAs="String">
                <value>http://localhost:1096/website/Operator.asmx</value>
            </setting>
        </LiveChatStarterKit.OperatorConsole.Properties.Settings>
    </applicationSettings>
</configuration>