<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="dalListener" type="System.Diagnostics.ConsoleTraceListener"></add>
      </listeners>
    </trace>
  </system.diagnostics>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiveChat.DAL.Properties.Settings.TestDBConnectionString" connectionString="Data Source=DOMINIC\sqlexpress;Initial Catalog=TestDB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>