@model Guid
@{
    Layout = null;
}

<h1>@ViewBag.visitorIp</h1>
<p>
    <strong>Arrived on site: </strong> 39 minutes ago (10:05pm)<br />
    <strong>Visited pages: </strong> 4 pages<br />
    <strong>Enter page: </strong> myenterpage.html<br />
    <strong>Chat initiated :</strong> 1 min ago (by the visitor)
</p>

<div style="clear: both; padding: 10px 10px 10px 10px;">
	<div id="chatBody"></div>
	<input type="text" id="chatText" size="75" />
	<input id="closeChat" class="btn" type="button" value="Close chat session" />
</div>