@{
    ViewBag.Title = "Index";
}

<h2>Operator log-in</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <p>
            <label>Operator name</label><br />
            @Html.TextBox("opname")
        </p>
        <p>
            <label>Operator password</label><br />
            @Html.Password("oppass")
        </p>
        <p>
            <input type="submit" value="Go To Dashboard" />
        </p>
    </fieldset>
}
