<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
	<sectionGroup name="LCSK">
		<section name="requestService" type="LCSK.Providers.RequestServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="operatorService" type="LCSK.Providers.OperatorServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="chatService" type="LCSK.Providers.ChatServiceSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</sectionGroup>
	</configSections>

	<connectionStrings>
  <add name="LCSK" connectionString="Data Source=devpc\sqlexpress;Initial Catalog=hlsim;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <LCSK>
		<requestService defaultProvider="SqlRequestProvider">
			<providers>
				<add name="SqlRequestProvider" type="LCSK.Providers.Sql.SqlRequestProvider" connectionStringName="LCSK"/>
			</providers>
		</requestService>
		<operatorService defaultProvider="SqlOperatorProvider">
			<providers>
				<add name="SqlOperatorProvider" type="LCSK.Providers.Sql.SqlOperatorProvider" connectionStringName="LCSK"/>
			</providers>
		</operatorService>
		<chatService defaultProvider="SqlChatProvider">
			<providers>
				<add name="SqlChatProvider" type="LCSK.Providers.Sql.SqlChatProvider" connectionStringName="LCSK"/>
			</providers>
		</chatService>
	</LCSK>
	
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/> 
  </appSettings>
    
  <system.web>		
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="info@focuscentric.com">
				<network defaultCredentials="true" host="relais.videotron.ca" port="25" userName="kaushal" password="testPassword"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
