@{
    View.Title = "LiveChat Starter Kit";
    Layout = "~/Areas/LiveChat/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$(document).ready(function () {
		$("#tabs").tabs();
	});
	</script>

	<div id="login">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Sign In</a></li>
			</ul>
			<div id="tabs-1">
				<h3>Sign In to start an operator session</h3>

	@using (Html.BeginForm())
	{
	 <fieldset>
		@Html.TextBox("user")

		@Html.Password("pass")

		<input type="submit" value="Test" />
	 </fieldset>
	}
			</div>
		</div>
	</div>