<!DOCTYPE html>

<html>
<head>
    <title>@View.Title</title>
	<link href="/content/LCSK/lcsk.css" type="text/css"rel="stylesheet" />
	<link href="/content/LCSK/ui-darkness/jquery-ui-1.8.1.custom.css" type="text/css"rel="stylesheet" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
</head>
<body>
<div id="container">
    <div id="logo">
		<img src="/Content/LCSK/livechat_logo.jpg" alt="LCSK - Logo" />
		<h2>LiveChat Starter Kit by Focus Centric inc.</h2>
	</div>

	@RenderBody()
</div>
</body>
</html>
