<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
	<link href="/content/LCSK/lcsk.css" type="text/css"rel="stylesheet" />
</head>
<body>
<div id="container">
    <div id="logo">
		<img src="/Content/LCSK/livechat_logo.jpg" alt="LCSK - Logo" />
		<h2>LiveChat Starter Kit by Focus Centric inc.</h2>
	</div>

	@RenderBody()
</div>
</body>
</html>
