body 
{
	color: black;
	font-size: small;
	font-family: Verdana, Arial;
	padding: 15px;
	margin: 0;
}

#container
{
	width: 900px;
}

#logo
{
	width: 900px;
	height: 75px;
}

#logo img
{
	float: left;
}

#logo h2
{
	float: right;
	vertical-align: middle;
	color: Orange;
	padding-right: 25px;
}

fieldset legend
{
	color: Orange;
}

fieldset p
{
	padding: 10px;
}

fieldset label
{
	font-weight: bold;
	display: block;
}

table
{
    width: 100%;
}
td
{
    padding: 3px;
    border: 1px solid lightgray;
}