@model Guid
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Chatting with</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<style type="text/css">
		body
		{
			color: Black;
			font-size: small;
			font-family: Verdana, Arial;
			padding: 0;
			margin: 0;
		}
		h2
		{
			float: right;
			vertical-align: middle;
			color: Orange;
			padding-right: 25px;
		}
		
		#chatBody
		{
			width: 650px;
			height: 500px;
			border: 1px solid black;
			padding: 5px;
			overflow: auto;
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function () {
			window.setTimeout('checkMsg();', 2500);
			window.setTimeout('checkTyping();', 2500);

			$('#chatText').keyup(function (e) {
				if (e.keyCode == 13) {
					addMessage();
				}
			});

			$("#sendToEmail").click(function () {
				sendChatToEmail();
			});

			$(window).bind("beforeunload", function () {
				var close = confirm("Do you really want to close the chat session?");

				if (close) {
					$.ajax({
						type: 'POST',
						url: '/livechat/addmsg/',
						data: 'id=@Model&msg=The visitor closed the chat session.'
					});
				}

				return close;
			})
		});

	function addMessage() {
		$.ajax({
			type: 'POST',
			url: '/livechat/addmsg/',
			data: 'id=@Model&msg=' + $("#chatText").val(),
			success: function () {
				$("#chatText").attr('value', '');
			},
			error: function () {
				$("#chatText").attr('value', '');
			}
		});
	}

	function checkMsg() {
		$.ajax({
			type: 'POST',
			url: '/livechat/CheckMessages/',
			data: 'id=@Model',
			success: function (result) {
				$("#chatBody").append(result);
				$("#chatBody").animate({ scrollTop: $("#chatBody").attr("scrollHeight") - $('#chatBody').height() }, 3000);
			}
		});

		window.setTimeout('checkMsg();', 5500);
	}

	function checkTyping() {
		$.ajax({
			type: 'POST',
			url: '/livechat/CheckTyping/',
			data: 'id=@Model',
			success: function (result) {
				$("#typingNotification").html(result);
			}
		});

		window.setTimeout('checkTyping();', 7500);
	}

	function sendChatToEmail() {
		$.ajax({
			type: 'POST',
			url: '/livechat/sendchat/',
			data: 'id=@Model',
			success: function () {
				alert('The chat transcript has been sent to your email address.');
			},
			error: function () {
				alert('We were not able to send the chat transcript to your email.');
			}
		});
	}
	</script>
</head>
<body>
	<div>
		<img src="/Content/LCSK/livechat_logo.jpg" alt="LCSK - Logo" style="float: left;" />
		<h2>
			LiveChat Starter Kit by Focus Centric inc.</h2>
	</div>
	<div style="clear: both; padding: 10px 10px 10px 10px;">
		<div id="chatBody"></div>
		<p>Enter your text and press 'Enter'</p>
		<textarea id="chatText" cols="60" rows="2"></textarea>
		<div id="typingNotification"></div>
		<input id="sendToEmail" type="button" value="Send chat transcript to my email." />
	</div>
</body>
</html>
