<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LCSK.Providers.Sql.Properties.Settings.hlsimConnectionString"
            connectionString="Data Source=devpc\sqlexpress;Initial Catalog=hlsim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>