<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiveChat.Core.Properties.Settings.LCSKConnectionString"
            connectionString="Data Source=devpc\sqlexpress;Initial Catalog=LCSK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>