@{
    View.Title = "Initializing LiveChat Starter Kit";
    Layout = "~/Areas/LiveChat/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$(document).ready(function () {
		$("#tabs").tabs();
	});
	</script>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Installation</a></li>
		</ul>
		<div id="tabs-1">
			<h3>Installing LiveChat Starter Kit by Focus Centric inc.</h3>

			<p>Supply your SQL Server information so we can create tables for LCSK.</p>

			@using (Html.BeginForm())
   {
			
			<fieldset>
				<legend>Database setup</legend>

				<p>LCSK currently only support SQL Compact Edition</p>

				<input type="submit" value="Ok, let's use SQLCE" />
			</fieldset>


   }

		</div>
	</div>

