@{
    ViewBag.Title = "LiveChat Starter Kit Demo";
}

<h2>LiveChat Starter Kit Demo</h2>
<p>
    This is a demo website for the <a href="http://livechatstarterkit.codeplex.com">LiveChat Starter Kit (LCSK) project</a>.
</p>

<p>
    @Html.ActionLink("Sign-In", "Index", "Chat")
</p>


