@{
	ViewBag.Title = "Installation completed";
}
<h2>Installation completed</h2>

<p>Congratulation! The LiveChat Starter Kit is installed.</p>

<h4>Operator Console</h4>

<p>If you are installing this via nuget, you will have to download the operator console (Windows Forms) application to answer and chat with your visitors.</p>

<p>You can download it here: <a href="http://livechatstarterkit.codeplex.com/releases"> http://livechatstarterkit.codeplex.com/releases </a></p>

<p>You might want to start the Operator Console and click on "Configure" to set the correct Url for the webservice communication.</p>

<p>It could look similar to this: http://@Request.Url.Host/LCSKServices/OpServices.asmx or 
    http://@Request.Url.Host/VirtualDirectory/LCSKServices/OpServices.asmx if you installed it on a 
    virtual directory, replace the /VirtualDirectory/ with you name.
 </p>

<p>Sign in with the user 'admin' and the password you supply on the last page.</p>

<h4>Adding chat button to your pages</h4>

Here is the code to add to your pages where you want the button to appears.


<blockquote>
<pre>
@("<a href=\"/livechat/session\" target=\"_blank\">\r\n\t<img id=\"lcsk_chatbutton\" src=\"\" alt=\"Chat button\" />\r\n</a>\r\n\r\n<script type=\"text/javascript\">\r\n\tdocument.getElementById('lcsk_chatbutton').src = '/livechat/chatimage?r=' + document.referrer;\r\n</script>")
</pre>
</blockquote>

<p><strong>You might want to change the online and offline image located on /content/LCSK/online.jpg and offline.jpg</strong></p>

<h5>Have a nice day!</h5>

<p>Dominic</p>

